<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>DataTable - get data from a file</title>
    <meta name="description" content="In this tutorial, we're going to render dataTable whose data is from a file">

    <div th:replace="fragments/header :: headerCssJs"></div>
    <div th:replace="fragments/header :: headerCssJs_datatable"></div>
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>
<table id="example" class="display" style="width:50%">
    <thead>
    <tr>
        <th>name</th>
        <th>gender</th>
        <th>height</th>
        <th>Age</th>
        <th>createTime</th>
    </tr>
    </thead>
</table>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const context = /*[[@{/datatable/example2_data}]]*/'';
    /*]]>*/

    $(document).ready(function () {
        $('#example').DataTable({
            ajax: context,
            processing: true,
            columns: [
                {"data": "name"},
                {"data": "gender"},
                {"data": "height"},
                {"data": "createTime"}
            ]
        });
    });
</script>
</body>
</html>