<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>DataTable - get data from a controller</title>
    <meta name="description" content="In this tutorial, we're going to render dataTable whose data is from a controller">

    <div th:replace="fragments/header :: headerCssJs"></div>
    <div th:replace="fragments/header :: headerCssJs_datatable"></div>
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>

<table id="example" class="display" style="width:50%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </thead>
</table>
<script th:inline="javascript">
    /*<![CDATA[*/
    const context = /*[[@{/}]]*/''
    /*]]>*/

    console.log()
    $(document).ready(function () {
        $('#example').DataTable({
            ajax: context + 'static/datatable/arrays.json'
        });
    });
</script>
</body>
</html>