<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>DataTable - get data from a file</title>
    <meta name="description" content="In this tutorial, we're going to render dataTable whose data is from a file">

    <div th:replace="fragments/header :: headerCssJs"></div>
    <div th:replace="fragments/header :: headerCssJs_datatable"></div>
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>
<table id="example" class="display" style="width:50%">
    <thead>
    <tr>
        <th>email</th>
        <th>name</th>
    </tr>
    </thead>
</table>
<div th:replace="fragments/body :: bodyBottom"></div>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    const context = $("#context_url").val() + '/datatable/example2_data'

    $(document).ready(function () {
        $('#example').DataTable({
            ajax: context,
            processing: true,
            columns: [
                {"data": "email"},
                {"data": "name"},
            ]
        });
    });
</script>
</body>
</html>