<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>HomePage</title>
    <div th:replace="fragments/header :: headerCssJs"></div>
    <div th:replace="fragments/header :: headerCssJs_datatable"></div>
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/body :: sidebar"></nav>
    <div id="body" class="active">
        <nav th:replace="fragments/body :: sidebar-expand"></nav>
        <div class="content">
            <div class="container-fluid">
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/body :: bodyBottom"></div>
</body>
</html>