<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>I18n</title>
    <div th:replace="fragments/header :: headerCssJs"></div>
    <div th:replace="fragments/header :: headerCssJs_datatable"></div>
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/body :: sidebar"></nav>
    <div id="body" class="active">
        <nav th:replace="fragments/body :: sidebar-expand"></nav>
        <div class="content">
            <div class="container-fluid">
                <!-- content -->
                <p style="color: red" th:text="${i18nModel.validationMsg}"></p>
                <form th:action="@{/i18n/validate}" th:object="${i18nModel}" method="post">
                    <p><label>Email:<input type="text" name="email"/></label></p>
                    <p><input type="submit" name="submit" value="submit"/> </p>
                </form>
            </div>



        </div>
    </div>
</div>
<div th:replace="fragments/body :: bodyBottom"></div>
</body>
</html>