<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>Echo message</title>
    <div th:replace="fragments/header :: headerCssJs"></div>
    <link th:href="@{/assets/vendor/alexis-luna/css/error.css}" rel="stylesheet">
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>
<div class="wrapper">
    <div class="page vertical-align text-center">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">404</h1>
                <p>Page Not Found !</p>
            </header>
            <p class="error-advise">The page you were looking for could not be found.</p>
            <a class="btn btn-primary btn-round mb-5" href="dashboard.html">GO TO HOME PAGE</a>
            <footer class="page-copyright">
                <p>© 2020. All RIGHT RESERVED.</p>
            </footer>
        </div>
    </div>
</div>
<div th:replace="fragments/body :: bodyBottom"></div>
</body>

</html>