<!--
parameters:
    current_module
-->
<nav th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org" id="sidebar" class>
    <!-- sidebar -->
    <div class="sidebar-header">
        <img th:src="@{/assets/vendor/alexis-luna/img/bootstraper-logo.png}" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li><a th:href="@{/index}"><i class="fas fa-home"></i> Index</a></li>

        <!-- Examples -->
        <li>
            <a href="#example-menu" data-toggle="collapse" th:aria-expanded="${current_module == 'example'} ? true : false"
               th:class="${current_module == 'example'} ? 'dropdown-toggle no-caret-down' : 'dropdown-toggle no-caret-down collapsed'">
                <i class="fas fa-copy"></i> Examples</a>
            <ul th:class="${current_module == 'example'} ? 'list-unstyled collapse show' : 'collapse list-unstyled'" id="example-menu">
                <li>
                    <a th:href="@{/example/1}"><i class="fas fa-file"></i> Echo Example - without model</a>
                </li>
                <li>
                    <a th:href="@{/example/2}"><i class="fas fa-file"></i> Echo Example - with model</a>
                </li>
                <li>
                    <a th:href="@{/example/3}"><i class="fas fa-file"></i> Render all requests by @ModelAttribute (1)</a>
                </li>
                <li>
                    <a th:href="@{/example/4}"><i class="fas fa-file"></i> Render all requests by @ModelAttribute (2)</a>
                </li>
                <li>
                    <a th:href="@{/example/5}"><i class="fas fa-file"></i> Validation by javax.validation.constraints</a>
                </li>
                <li>
                    <a th:href="@{/example/5}"><i class="fas fa-file"></i> Manual Validation</a>
                </li>
            </ul>
        </li>

        <li><a th:href="@{/datatable/index}"><i class="fas fa-table"></i> Tables</a></li>
        <li><a th:href="@{/example/index}"><i class="fas fa-file-alt"></i>Simple</a></li>
        <li><a th:href="@{/i18n/index}"><i class="fas fa-file-alt"></i>I18n</a></li>
        <li><a th:href="@{/assets/vendor/alexis-luna/index.html}"><i class="fas fa-file-alt"></i>Static Pages</a></li>
    </ul>
</nav>


<nav th:fragment="sidebar-expand" xmlns:th="http://www.thymeleaf.org" class="navbar navbar-expand-lg navbar-white bg-white">
    <!-- button for expanding sidebar -->
    <button type="button" id="sidebarCollapse" class="btn btn-light"><i class="fas fa-bars"></i><span></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-link"></i> <span>Quick Links</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <ul class="nav-list">
                            <li><a href="" class="dropdown-item"><i class="fas fa-list"></i> Access Logs</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="" class="dropdown-item"><i class="fas fa-database"></i> Back ups</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="" class="dropdown-item"><i class="fas fa-cloud-download-alt"></i> Updates</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="" class="dropdown-item"><i class="fas fa-user-shield"></i> Roles</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-user"></i> <span>John Doe</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <ul class="nav-list">
                            <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                            <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Messages</a></li>
                            <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Settings</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>



<div th:fragment="bodyBottom" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <!-- bottom of body tag -->
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/alexis-luna/js/script.js}"></script>
</div>