<div th:fragment="headerMeta" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <!-- meta -->
    <meta charset="UTF-8">
    <div th:replace=":: #customMeta"></div>
</div>

<div th:fragment="headerCssJs" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <!-- CSS and JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <div th:replace=":: #customCssJs"></div>
</div>

<div th:fragment="MetaURL" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <!-- get context url-->
    <input type="hidden" id="context_url" name="context_url" th:value="@{/}"/>
</div>
