<head th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org">
    <title th:include=":: #page_title">Layout Generic Title </title>

    <!-- meta -->
    <meta charset="UTF-8">
    <div th:replace=":: #meta_asserts"></div>

    <!-- datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <!-- css -->
    <div th:replace=":: #css_js_asserts">

    </div>
    <!-- end -->
</head>

<div th:fragment="metadataFragment" xmlns:th="http://www.thymeleaf.org">
    <!-- get context url-->
    <input type="hidden" id="context_url" name="context_url" th:value="@{/}" />
</div>
