<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerMeta"></div>
    <title>I18n</title>
    <div th:replace="fragments/header :: headerCssJs"></div>
    <div th:replace="fragments/header :: headerCssJs_datatable"></div>
    <div th:replace="fragments/header :: MetaURL"></div>
</head>
<body>
<div class="wrapper">
    <nav th:replace="fragments/body :: sidebar(current_module='i18n')"></nav>
    <div id="body" class="active">
        <nav th:replace="fragments/body :: sidebar-expand"></nav>
        <div class="content">
            <div class="container-fluid">
                <!-- content -->
                <p th:utext="#{hello}"></p>
                <button type="button" onclick="switch_lang('zh')" >Chinese</button>
                <button type="button" onclick="switch_lang('ja')" >Japanese</button>
                <button type="button" onclick="switch_lang('en')" >English</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/body :: bodyBottom"></div>
<script type="text/javascript" th:inline="javascript">
    function switch_lang(lang) {
        let contextPath = $("#context_url").val();
        location.href = contextPath + 'i18n/example/1?lang=' + lang;
    }
</script>
</body>
</html>