<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  datatable  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
</head>
<body>
<table id="example" class="display" style="width:50%">
    <thead>
    <tr>
        <th>name</th>
        <th>gender</th>
        <th>height</th>
        <th>Age</th>
        <th>createTime</th>
    </tr>
    </thead>
</table>
<script th:inline="javascript">
    // ...
    var context = /*[[@{/}]]*/''
    // ...

    $(document).ready(function () {
        $('#example').DataTable({
            ajax: context + '/datatable/example2_data',
            processing: true,
            columns: [
                {"data": "name"},
                {"data": "gender"},
                {"data": "height"},
                {"data": "createTime"}
            ]
        });
    });
</script>
</body>
</html>